{% extends "base.html" %}

{% block content %}
<form action="/admin_panel">
    <input type="submit" value="AdminPage" />
</form>
<h1>Addresses</h1>
<form name="search" method="post" action="/admin_panel/addresses/search/"> {% csrf_token %}
<input type="text" size="40" name="search" value="" autofocus />
<input type="submit" value="Search" />
</form>


<h4>Did we miss an Address or two? You can fill them in <a href="/admin_panel/addresses/insert/">here!</a></h4>
<table class="table">
    <thead>
        <tr>
            <th>Address</th>
            <th>Phone Number</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
 {% for address in address_list %}
    <tbody>
        <tr>
            <td>{{ address.address }}</td>
            <td>{{ address.addressPhone }}</td>
            <td>
                <form action="/admin_panel/addresses/{{address.addressPhone}}/edit">
                    <input type="submit" value="Edit" />
                </form>
            </td>
            <td>
                <form action="/admin_panel/addresses/{{address.addressPhone}}/delete">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock content %}
