{% extends "base.html" %}

{% block content %}
<form action="/admin_panel">
    <input type="submit" value="AdminPage" />
</form>

<h1>Albums</h1>
<form name="search" method="post" action="/admin_panel/albums/search/"> {% csrf_token %}
    <input type="text" size="40" name="search" value="" autofocus />
    <input type="submit" value="Search" />
</form>


<h4>Did we miss an Album or two? You can fill them in <a href="/admin_panel/albums/insert/">here!</a></h4>
<table class="table">
    <thead>
        <tr>
            <th>Album Id</th>
            <th>Album Title</th>
            <th>Speed</th>
            <th>Copyright Date</th>
            <th>Producer</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {% for album in album_list %}

    <tbody>
        <tr>
            <td>{{ album.albumId }}</td>
            <td>{{ album.albumTitle }}</td>
            <td>{{ album.speed }}</td>
            <td>{{ album.copyrightdate }}</td>
            <td>{{ album.producer.name }}</td>
            <td>
                <form action="/admin_panel/albums/{{album.albumId}}/{{album.albumTitle}}/edit">
                    <input type="submit" value="Delete" />
                </form>
            </td>
            <td>
                <form action="/admin_panel/albums/{{album.albumId}}/{{album.albumTitle/delete">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock content %}
