{% extends "base.html" %}

{% block content %}
<form action="/">
    <input type="submit" value="HomePage" />
</form>

<form action="/albums">
    <input type="submit" value="To Album List" />
</form>

<h1 class="album">{{ album.albumTitle }}</h1>

<p>{{ album.albumTitle }} was produced by {{ album.producer.name }} and originally released on {{ album.copyrightdate }}.</p>

{% if songs %}
<h3>songlist</h3>
{% endif %}
{% for song in songs %}
<ul>
    <li class="song">
        <a href='/songs/{{ song.song.songId }}'>{{ song.song.songTitle }}</a>
    </li>
</ul>
{% empty %}
<p>Oops! We didn't find any songs for this album!</p>
{% endfor %}

{% endblock content %}
