{% extends "base.html" %}

{% block content %}
<h1>Admin Panel</h1>

<p>Hope you know the password!</p>

<form action="/albums">
    <input type="submit" value="View Albums" />
</form>

<form action="/musicians">
    <input type="submit" value="View Musicians" />
</form>

<form action="/songs">
    <input type="submit" value="View Songs" />
</form>

<form action="/instruments">
    <input type="submit" value="View Instruments" />
</form>

<form action="/addresses">
    <input type="submit" value="View Addresses" />
</form>

<form action="/performs">
    <input type="submit" value="View what songs each musician performs" />
</form>

<form action="/plays">
    <input type="submit" value="View what instruments each musician plays" />
</form>

<form action="/appears_on">
    <input type="submit" value="View which songs appear on each album" />
</form>

<form action="/albums/insert">
    <input type="submit" value="New Album" />
</form>

<form action="/musicians/insert">
    <input type="submit" value="New Musician" />
</form>

<form action="/songs/insert">
    <input type="submit" value="New Song" />
</form>

<form action="/instruments/insert">
    <input type="submit" value="New Instrument" />
</form>

<form action="/addresses/insert">
    <input type="submit" value="New Address" />
</form>

<form action="/appears_on/insert">
    <input type="submit" value="Add Song to Album" />
</form>

<form action="/plays/insert">
    <input type="submit" value="Add Instrument to Musician" />
</form>

<form action="/performs/insert">
    <input type="submit" value="Add Performance Credit to Musician" />
</form>
{% endblock content %}
