{% extends "base.html" %}

{% block content %}
<form action="/">
    <input type="submit" value="HomePage" />
</form>

<form action="/albums">
    <input type="submit" value="To Album List" />
</form>

<h1 class="album">{{ album.albumTitle }}</h1>

<p>{{ album.albumTitle }} was produced by {{ album.producer.name }} and originally released on {{ album.copyrightdate }}.</p>

<h3>songlist</h3>
{% for song in songs %}
<ul>
    <li class="song">
        <a href='{{ song.get_absolute_url }}'>{{ song.songTitle }}</a>
    </li>
</ul>
{% endfor %}




<form action="/connect/appears_on">
    Is this missing a song? <input type="submit" value="Add a song to this Album" />
</form>

<form action="/album/{{ album.albumId }}/delete">
    <input type="submit" value="Delete This Album" />
</form>

<form action="/album/{{ album.albumId }}/edit">
    <input type="submit" value="Edit This Album" />
</form>
{% endblock content %}
