{% extends "base.html" %}

{% block content %}
<h1>Welcome to the Notown Record collection!</h1>
<p>Search through our database for any song, album, or musician below!</p>


<br>
<form action="/albums">
    <input type="submit" value="Search for an Album" />
</form>

<form action="/musicians">
    <input type="submit" value="Search for a Musician" />
</form>

<form action="/songs">
    <input type="submit" value="Search for a Song" />
</form>

<form action="/login">
    <input type="submit" value="Admin" />
</form>
{% endblock content %}
