{% extends "base.html" %}

{% block content %}
<form action="/admin_panel">
    <input type="submit" value="AdminPage" />
</form>
<h1>THIS IS AN ADMIN ONLY PAGE</h1>
<h1>Instruments</h1>

<p>Did we miss an Instrument or two? You can fill them in <a href="/admin_panel/instruments/insert/">here!</a></p>
<ul>
  {% for instrument in instrument_list %}
    <li class="instrument">
        {{ instrument.instrumentName }} in the key of {{ instrument.key }}.
        This has an id of {{ instrument.instrumentId }}.
<form action="/admin_panel/instruments/{{instrument.instrumentId}}/edit">
    <input type="submit" value="Edit this Instrument" />
</form>

<form action="/admin_panel/instruments/{{instrument.instrumentId}}/Delete">
    <input type="submit" value="Delete this Instrument" />
</form>
    </li>
  {% endfor %}
</ul>

{% endblock content %}
