{% extends "base.html" %}

{% block content %}

<form action="/admin_panel">
    <input type="submit" value="AdminPage" />
</form>
<h1>{{musician.name}}</h1><br> 
{% if plays_list %}
{{musician.name}} plays the following instruments:
{% endif %}
{% for plays in plays_list %}
    <li class="instrument">
       {{ plays.instrument.instrumentName }} in {{ plays.instrument.key }}
    </li>
{% empty %}
<p>Doesn't look like this musician plays any instruments! You can change that <a href="/admin_panel/plays/insert">here!</a></p>
{% endfor %}
<br>
{% if performs_list %}
{{musician.name}} has performed on the following songs:
{% endif %}
{% for performs in performs_list %}
    <li class="song">
        <a href="{{performs.song.get_absolute_url}}">{{ performs.song.songTitle }}</a>
    </li>
{% empty %}
<p>Doesn't look like this musician performs on any songs! You can change that <a href="/admin_panel/performs/insert">here!</a></p>
{% endfor %}

<form action="/admin_panel/musicians">
    <input type="submit" value="To Musician List" />
</form>

<form action="/admin_panel/musician/{{ musician.ssn }}/delete">
    <input type="submit" value="Delete This Musician" />
</form>

<form action="/admin_panel/musician/{{ musician.ssn }}/edit">
    <input type="submit" value="Edit This Musician" />
</form>
{% endblock content %}
