{% extends "base.html" %}

{% block content %}
<form action="/admin_panel">
    <input type="submit" value="AdminHome" />
</form>

<h1>Plays</h1>

<ul>
    <p>Did we miss an connection or two? You can fill them in <a href="/admin_panel/plays/insert/">here!</a></p>
    {% for item in plays_list %}
    <li>
        <a href='{{ item.musician.get_absolute_url }}'>{{ item.musician.name }}</a>
        :
        {{ item.instrument.instrumentName }}
        <form action="/admin_panel/plays/{{item.musician_id}}/{{item.instrument.instrumentId}}/edit">
            <input type="submit" value="Edit this entry" />
        </form>

        <form action="/admin_panel/plays/{{item.musician_id}}/{{item.instrument.instrumentId}}/delete">
            <input type="submit" value="Delete this entry" />
        </form>

    </li>
    {% endfor %}
</ul>

{% endblock content %}
