{% extends "base.html" %}

{% block content %}

<form action="/admin_panel/">
    <input type="submit" value="AdminPage" />
</form>
<h1 class="song">{{song.songTitle}}</h1>

<p>"{{song.songTitle}}" was written by {{song.songWriter.name}}. 
<br>
<br>

{% if appears_on %}
It appears on these albums:
{% endif %}
{% for albums in appears_on %}
{{albums.album.albumTitle}}.</p>
{% empty %}
This song doesn't appear on any albums! You can add them <a href="/admin_panel/appears_on">here!</a></p>
{% endfor %}



<form action="/admin_panel/songs">
    <input type="submit" value="To Song List" />
</form>

<form action="/admin_panel/song/{{ song.songId }}/delete">
    <input type="submit" value="Delete This Song" />
</form>

<form action="/admin_panel/song/{{ song.songId }}/edit">
    <input type="submit" value="Edit This Song" />
</form>
{% endblock content %}
