{% extends "base.html" %}

{% block content %}

<form action="/admin_panel">
    <input type="submit" value="AdminPage" />
</form>
<h1>Musicians</h1>
<form name="search" method="post" action="/admin_panel/musicians/search/"> {% csrf_token %}
<input type="text" size="40" name="search" value="" autofocus />
<input type="submit" value="Search" />
</form>

    <h4>Did we miss a Musician or two? You can fill them in <a href="/admin_panel/musicians/insert/">here!</a></h4>
<table class="table">
    <thead>
        <tr>
            <th>SSN</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Address Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    {% for musician in musician_list %}

    <tbody>
        <tr>
            <td>{{ musician.ssn }}</td>
            <td>{{ musician.name }}</td>
            <td>{{ musician.phone }}</td>
            <td>{{ musician.address.address }}</td>
            <td>{{ musician.address.addressPhone }}</td>
            <td>
                <form action="/admin_panel/musician/{{musician.ssn}}/edit">
                    <input type="submit" value="Edit" />
                </form>
            </td>
            <td>
                <form action="/admin_panel/musician/{{musician.ssn}}/delete">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock content %}
